.card {
  transform-style: preserve-3d;
}

.sneaker {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sneaker img {
  width: 18rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle1 {
  width: 150px;
  height: 150px;
  background-image: url("../img/bestselling/face-wash-best-2.png");
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  margin-top: 50px;
}

.circle2 {
  width: 150px;
  height: 150px;
  background-image: url("../img/bestselling/Hair-perfume-2.png");
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  margin-top: 50px;
}

.circle3 {
  width: 150px;
  height: 150px;
  background-image: url("../img/bestselling/MINT-toner-2.png");
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  margin-top: 50px;
}

.circle4 {
  width: 150px;
  height: 150px;
  background-image: url("../img/bestselling/morocan-soap-2.png");
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  margin-top: 50px;
}

.circle5 {
  width: 150px;
  height: 150px;
  background-image: url("../img/bestselling/Shower-gel-lemon-2.png");
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  margin-top: 50px;
}

.circle6 {
  width: 150px;
  height: 150px;
  background-image: url("../img/bestselling/Shower-gel-orange-2.png");
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  margin-top: 50px;
}

.info h4 {
  transition: all 0.75s ease-out;
  margin-top: -130px;
}
.info p {
  transition: all 0.75s ease-out;
}

.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
  empty-cells: hide;
}
.sizes button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}
button.active {
  background: #585858;
  color: white;
}
.purchase {
  margin-top: -2rem;
  transition: all 0.75s ease-out;
}
.purchase button {
  width: 100%;
  padding: 0.7rem 0rem;
  background: #2a5822;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}
